[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
schedule = "*"
requests = "*"
python-telegram-bot = "*"

[dev-packages]
coloredlogs = "*"
python-dotenv = "*"

[requires]
python_version = "3.11"
